body{
    background-color: white;
    box-sizing: border-box;
}

.container{
    padding: 4rem 2rem;
    margin-left: 5.2rem;
   display: grid;
   gap: 13rem;
/* grid-template-rows: repeat(auto-fill, 50px); */
 grid-template-columns: repeat(auto-fill, 400px)
}

.container div{
    border: 1px solid black;
    text-align: center;
    box-shadow: 2rem 2rem 4rem aliceblue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.736);
    
}

.container div:hover{
    transform: translateY(-20px);
    transition: all 4s ease in;
}

h1{
    color: rgba(0, 0, 0, 0.54);
    align-self: center;
    color: white;
    font-weight: 900;
}