*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    box-sizing: border-box;
    background-image: url("./pawel-czerwinski-2m4P67xWDww-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    /* background-image: url("./pawel-czerwinski-2m4P67xWDww-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* box-sizing: content-box; */
}

form{
    display: block;
    width: 100%;
    max-width: 444px;
    height: 545px;
    margin: 0 auto;
    color: #2b2d2f;
    border-radius: 0.3rem; 
    padding: 1rem 2rem;
    opacity: 0.6;
    transition: all 5s ease-in;
    box-shadow: 0.1rem 2rem 5rem rgba(255, 0, 0, 0.564);
    background-color: white;
}

form label{
    display: flex;
    color: rgb(234, 152, 165);
    font-style: bold;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0.2rem;
    margin-bottom: 2px;
}

form input{
    padding: 0.6rem;   
    margin-left: 0.9rem;
    margin-bottom: 0.9rem;
    width: 50%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom: 0.12rem solid gray;
    box-shadow: 0.1rem 2rem 5rem rgba(255, 0, 0, 0.564);
}

form select{
    padding: 0.4rem;   
    width: 50%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.sign-up-txt{
    font-weight: 900;
    color: pink;
    letter-spacing: 0.4rem;
}

.names, .phone, .email{
    display: flex;
    flex-flow: column;
    align-items: left;
    /* justify-content: space-around; */
}

.names, .phone, .email, .genderDiv, .dob, .favcolor{
    padding: 9px;
}

.genderDiv, .dob, .favcolor{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0.56rem; */
    /* background-color: gray; */
}

.names{
    margin-top: 1rem;
    /* background-color: gray; */
}

.names label{
    margin-bottom: 5px;
}

/* .names input[type=text]:last-child{
    margin-bottom: 5px;
} */

.phone, .genderNdob, .email, .favcolor, .submit{
    margin-top: -0.54rem;
    /* background-color: gray; */
}
.phone .phoneExt{
    display: flex;
}

.phone label{
    margin-bottom: 5px;
}

.phone input, .email-label{
    margin-bottom: 5px;
}

.phone select{
    cursor: pointer;
    width: 4.3rem;
    height: 30%;
}

.email{
    display: flex;
}

.genderNdob{
    display: flex;
    justify-content: space-between;
}

.genderDiv select {
    width: 50%;
    height: 60%;
    background-color: white;
    cursor: pointer;
}

.genderDiv select:hover{
    cursor: pointer;
    color:  rgba(0, 0, 0, 0.186);
    transition: all 0.2s ease-in;
    background-color: pink;
}

.dob input{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.dob input{
    width: 9%;
    height: 15%;
    cursor: pointer;   
}


.submit{
    cursor: pointer;
    padding: 0.4rem;
    /* margin-top: 12px; */
    color: pink;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 900;
    transition: all 0.2s ease-in;
}

.submit:hover{
    color: white;
    background-color: pink;
}




